<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Jaimito se fue de los simpsons</h1>
            <h3 class="mb-5">
                <em> D:</em>
            </h3>
            <a href="/signin" class="btn btn-primary">GO!</a>
        </div>
    </header>
</main>